extend layout

block content

  .row
    .large-12.columns
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula. Sed auctor neque eu tellus
      | rhoncus ut eleifend nibh porttitor. Ut in.
    
  .row
    .large-12.columns
      | Vivamus hendrerit arcu sed erat molestie
      | vehicula. Sed auctor neque eu tellus
      | rhoncus ut eleifend nibh porttitor. Ut in.

